/*------------------------------------------------------------------
[Master Stylesheet]

Project:    tajawal-task
Version:    1.0
Last change:    3-3-2018
Assigned to:    Hussien Abd almohsen
Primary use:    Landing Page 

1. Body

-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@font-face {
  font-family: "boutrosart-medium";
  src: url("../fonts/boutrosart-medium.eot");
  src: url("../fonts/boutrosart-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/boutrosart-medium.woff") format("woff"), url("../fonts/boutrosart-medium.ttf") format("truetype"), url("../fonts/boutrosart-medium.svg#boutrosart-medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* variables */
body {
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  outline-style: none;
}

input {
  outline: 0;
  outline-style: none;
}

.text-center {
  text-align: center;
}

.center-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-center {
  float: none;
  margin: 0 auto;
}

.close {
  float: right;
  width: 20px;
  height: 20px;
  background: #003366;
  color: #fff;
  text-align: center;
  border: 0;
  font-size: 18px;
  line-height: 18px;
  border-radius: 50%;
}

.over-hide {
  overflow: hidden;
}

.modal-title {
  font: 22px "Open Sans";
  text-transform: uppercase;
  color: #294272;
}

.logo {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.top-navbar {
  position: relative;
  min-height: 71px;
  padding: 10px 0;
}

.top-navmenu {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.top-navmenu li {
  display: inline-block;
  margin-left: 45px;
}

.top-navmenu li a {
  font: 16px "Open Sans";
  color: #394c70;
}
.top-navmenu li a:hover{
  font-weight: 700;
}
.top-navmenu-left {
  padding-left: 15px;
}

.top-navmenu-left li a {
  font: 15px "Open Sans";
}

.dropdown-menu li {
  margin: 0;
  display: block;
}

.arabic {
  font: 15px 'boutrosart-medium' !important;
}

.slider {
  background: url("../images/hero-img.png") no-repeat;
  background-size: cover;
  padding-top: 156px;
  position: relative;
  height: 851px;
}

.iphone-black {
  top: -10px;
  position: relative;
}

.iphone-silver {
  position: absolute;
  left: 78px;
  top: 100px;
}

.slider-h1 {
  font: 50px "Open Sans";
  color: #fff;
  margin-bottom: 0;
}

.slider-description {
  font: 16px "Open Sans";
  color: #fff;
}

.download-button {
  border-radius: 4px;
  background-color: #ffd16a;
  padding: 10px 75px;
  font: 700 21px "Open Sans";
  color: #003366;
  margin-top: 37px;
  display: inline-block;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
}

.download-button:hover {
  background-color: #ffd57c;
}

.available {
  margin-top: 100px;
}

.available span {
  color: #fff;
  font: 16px "Open Sans";
  float: left;
  margin: 7px 10px 0 0;
}

.android-icon {
  background: url("../images/android.png") no-repeat;
  width: 35px;
  height: 34px;
  display: inline-block;
}

.iphone-icon {
  background: url("../images/ios.png") no-repeat;
  width: 35px;
  height: 34px;
  display: inline-block;
}

.features {
  padding: 92px 0 80px 0;
}

.wallet-icon {
  width: 59px;
  height: 58px;
  display: inline-block;
  background: url("../images/wallet.png") no-repeat;
}

.steps-icon {
  width: 59px;
  height: 58px;
  display: inline-block;
  background: url("../images/steps.png") no-repeat;
}

.offers-icon {
  width: 59px;
  height: 58px;
  display: inline-block;
  background: url("../images/offers.png") no-repeat;
}

.feature-h3 {
  font: 700 18px "Open Sans";
  color: #294272;
  margin: 0;
}

.feature-description {
  font: 16px "Open Sans";
  color: #333333;
  line-height: 1.8;
  margin-top: 10px;
}

.offer-5 {
  padding: 48px 0 61px 0;
  background-image: linear-gradient(356deg, rgba(149, 192, 237, 0), #92bcea);
}

.offer-h3 {
  font: 36px "Open Sans";
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.offer-h2 {
  font: 700 110px "Open Sans";
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.offer-h2 span {
  color: #ffd16a;
}

.offer-description {
  font: 32px "Open Sans";
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.book-flights {
  padding: 110px 0;
}

.book-flight-h3 {
  font: 50px "Open Sans";
  color: #294272;
  margin: 0;
}

.book-flight-description {
  font: 16px "Open Sans";
  color: #333333;
  line-height: 1.8;
  margin-top: 10px;
}

.screen-one {
  height: 432px !important;
}

.screen {
  width: 243px;
  height: 400px;
  background-color: #333333;
  background-color: #333333;
  border: solid 2px #ffffff;
  border: solid 2px #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
}

.flights-iphone {
  position: relative;
  float: right;
}

.screen1 {
  position: absolute;
  top: 73px;
  right: 180px;
}

.flights-iphone-black {
  position: relative;
  margin: 0 auto;
}

.screen2 {
  position: absolute;
  top: 90px;
  right: 35px;
}

.screen3 {
  position: absolute;
  top: 90px;
  left: 35px;
}

.holiday-iphone-silver {
  position: relative;
  float: right;
}

.holiday-iphone-black {
  position: absolute;
  top: 73px;
  right: 115px;
}

.safe-easy {
  margin-top: 120px;
  padding: 65px 60px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
}

.safety-icon {
  background: url("../images/safety.png") no-repeat;
  width: 105px;
  height: 104px;
  float: left;
  margin-top: 10px;
}

.safe-h3 {
  font: 36px "Open Sans";
  color: #294272;
  display: inline-block;
  width: 28%;
  padding: 0 20px;
  margin: 0;
}

.safe-descreiotion {
  padding: 10px;
  border-left: 1px solid #979797;
  display: inline-block;
  width: 55%;
}

.safe-descreiotion p {
  font: 16px "Open Sans";
  line-height: 1.8;
  color: #333333;
  padding-left: 30px;
}

.how-use {
  background: url("../images/module-bg.png") no-repeat;
  background-size: cover;
  padding: 70px 0 97px 0;
}

.how-h3 {
  font: 50px "Open Sans";
  color: #fff;
  margin: 0;
}

.how-description {
  font: 21px "Open Sans";
  color: #fff;
  margin-top: 15px;
  line-height: 1.7;
}

.play-video {
  width: 108px;
  height: 108px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
}

.icon-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 40px;
  border-color: transparent transparent transparent #ffffff;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 32px 0 0 10px;
}

.key-features {
  padding: 81px 0 0 0;
  height: 1155px;
}

.key-app-h3 {
  font: 50px "Open Sans";
  color: #71c8f0;
  letter-spacing: -0.7px;
  margin-bottom: 119px;
}

.easy-flight {
  position: relative;
  border-bottom: 2px solid #979797;
  padding: 0;
}

.easy-h3 {
  font: 700 18px "Open Sans";
  color: #294272;
  margin: 0;
}

.easy-h3:before {
  width: 80px;
  height: 10px;
  background: #ffcc33;
  content: " ";
  position: absolute;
  left: 0;
  top: -17px;
}

.hotels-e {
  width: 50%;
}

.easy-description {
  margin: 0;
  font: 15px "Open Sans";
  color: #333333;
  line-height: 1.88;
  letter-spacing: -0.5px;
  padding-bottom: 10px;
}

.images-key-feat {
  position: relative;
  height: 300px;
}

.change-screen-1 {
  position: absolute;
  left: 18%;
  top: -60px;
  z-index: 1;
}

.change-screen-2 {
  position: absolute;
  left: 29%;
  top: -60px;
  z-index: -1;
}

.change-screen-2:after {
  width: 2px;
  content: " ";
  background: #979797;
  height: 300px;
  position: absolute;
  right: 48.6%;
  bottom: 0;
  z-index: -3;
  top: 49%;
}

.change-screen-3 {
  position: absolute;
  left: 45%;
  top: -60px;
  z-index: -2;
}

.change-screen-3:after {
  width: 2px;
  content: " ";
  background: #979797;
  height: 615px;
  position: absolute;
  left: 50%;
  bottom: -215px;
  z-index: -4;
}

.no-border {
  border-width: 0 !important;
}

.download-app {
  padding: 70px 0 95px 0;
  background: #71c8f0;
}

.download-h3 {
  font: 48px "Open Sans";
  color: #fff;
  margin: 0;
}

.download-desc {
  font: 21px "Open Sans";
  color: #fff;
  text-transform: uppercase;
}

.app-store {
  margin-top: 74px;
  display: inline-block;
}

.play-store {
  margin: 74px 0 0 23px;
  display: inline-block;
}

.app-updates {
  padding: 53px 0 56px 0;
  position: relative;
}

.app-update-h3 {
  font: 50px "Open Sans";
  color: #294272;
  margin: 0;
}

.app-update-desc {
  font: 21px "Open Sans";
  color: #333333;
  margin: 0;
}

.app-update-img {
  position: absolute;
  left: 0;
  height: 409px;
  top: 230px;
  padding: 0;
  z-index: 1;
}

.newslatter {
  margin-top: 90px;
  padding: 20px 0 37px 0;
  border-top: solid 1px #ccc;
}

.newslatter-h3 {
  font: 700 30px "Montserrat";
  color: #465b83;
  margin: 0;
}

.newslatter_description {
  font: 20px "Montserrat";
  color: #233d5e;
}

.mail-form {
  margin-top: 50px;
}

.email-input {
  border: solid 1px #e7e7e7;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  padding: 12px 15px;
}

.email-input:focus {
  border-color: #ffd16a;
}

.submit-button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8d588), to(#f3b129));
  background-image: linear-gradient(to bottom, #f8d588, #f3b129);
  background-image: -moz-linear-gradient(to bottom, #f8d588, #f3b129);
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border: 0;
  padding: 12px 15px;
  margin-left: 10px;
  font: 600 15px "Open Sans";
  color: #465b83;
}

.get-app {
  background: #1a2a3d;
  padding: 50px 0;
  border-bottom: 4px solid #61b8fa;
}

.get-app-h3 {
  font: 600 30px "Montserrat";
  color: #fff;
  letter-spacing: 7.5px;
  line-height: 33px;
  margin: 0;
}

.get-app-list {
  list-style-image: url("../images/checkmark-summer-sky.png");
  margin: 0;
  padding: 0;
}

.get-app-list li {
  font: 20px "Montserrat";
  color: #fff;
  margin-bottom: 30px;
}

.get-app-list li:last-child {
  margin: 0;
}

.get-app-available {
  font: 600 30px "Montserrat";
  color: #fffefe;
  margin: 0 0 20px 0;
}

.get-app-store {
  display: inline-block;
  width: 160px;
  height: 45px;
}

.play-s {
  margin-left: 20px;
}

.footer {
  padding: 20px 0 0 0;
}

.call-span {
  font: 25px "Montserrat";
  color: #002957;
  letter-spacing: -0.5px;
  padding-left: 8px;
}

.tel {
  font-weight: bold;
  padding: 0;
}

.tel:hover {
  color: #294272;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.social-links li {
  display: inline-block;
}

.linkedin {
  width: 32px;
  height: 35px;
  display: inline-block;
  background: url("../images/social.png") no-repeat;
}

.facebook {
  width: 32px;
  height: 35px;
  display: inline-block;
  background: url("../images/social.png") no-repeat -37px 0;
}

.twitter {
  width: 32px;
  height: 35px;
  display: inline-block;
  background: url("../images/social.png") no-repeat -74px 0;
}

.youtube {
  width: 32px;
  height: 35px;
  display: inline-block;
  background: url("../images/social.png") no-repeat -114px 0;
}

.footer-menu {
  list-style: none;
  margin: 70px 0;
  padding: 0;
}

.footer-menu li {
  float: left;
  margin-left: 60px;
}

.footer-menu li:first-child {
  margin: 0;
}

.footer-menu li a {
  font: 600 18px "Montserrat";
  color: #002957;
  padding: 10px;
  letter-spacing: -1px;
  -webkit-transition: 0.3s ease-in-out 0.3s;
  transition: 0.3s ease-in-out 0.3s;
}

.footer-menu li a:hover {
  border-top: 2px solid #3023ae;
  border-bottom: 2px solid #c86dd7;
  border-right: 2px solid #7b48c2;
  border-left: 2px solid #7b48c2;
  border-radius: 30px;
}

.branches-list {
  list-style: none;
  margin: 25px 0;
  padding: 0;
}

.branches-list li {
  display: inline-block;
  margin-left: 25px;
}

.branches-list li:first-child {
  margin: 0;
}

.branches-list li a {
  font: 14px "Open Sans";
  color: #002957;
}

.branches-list li a:hover {
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 800px) {
  .top-navmenu li, .top-navmenu {
    display: block;
  }
  .top-navmenu li {
    margin-bottom: 10px;
  }
  .top-navmenu-left {
    padding: 0;
  }
  .logo {
    float: none;
  }
  .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-toggle {
    background: #c3c0c0;
  }
  .icon-bar {
    background: #294272;
  }
  .slider {
    height: auto;
    padding: 45px 0 50px 0;
  }
  .slider-h1 {
    font-size: 25px;
    margin-top: 80px;
  }
  .slider-description {
    font-size: 14px;
  }
  .iphone-black {
    top: 0;
    width: 250px;
  }
  .iphone-silver {
    top: 80px;
    width: 250px;
  }
  .download-button {
    display: block;
    text-align: center;
  }
  .available {
    margin-top: 20px;
  }
  .features {
    text-align: center;
  }
  .offer-h3 {
    font-size: 27px;
  }
  .offer-h2 {
    font-size: 60px;
  }
  .safe-h3 {
    width: 65%;
    font-size: 30px;
  }
  .safe-descreiotion {
    border: 0;
    width: 100%;
  }
  .how-h3, .key-app-h3 {
    font-size: 40px;
  }
  .key-features {
    height: auto;
    text-align: center;
  }
  .key-app-h3 {
    margin: 0 0 60px 0;
  }
  .easy-flight {
    float: none !important;
    margin-top: 40px;
  }
  .easy-h3 {
    font-size: 16px;
  }
  .easy-h3:before {
    left: 50%;
    right: 0;
    margin-left: -40px;
  }
  .hotels-e {
    width: 100%;
  }
  .book-flight-h3 {
    font-size: 30px;
  }
  .holiday-iphone-black {
    top: 18px;
    right: 34px;
    width: 70%;
  }
  .no-border {
    border-width: 2px !important;
  }
  .download-h3 {
    font-size: 35px;
  }
  .play-store {
    margin: 30px 0 0 0;
  }
  .app-update-img {
    position: relative;
    height: auto;
    top: 0;
  }
  .safe-easy {
    margin: 0;
    padding: 30px;
  }
  .app-update-h3 {
    font-size: 40px;
  }
  .app-updates {
    padding-bottom: 0;
  }
  .newslatter-h3 {
    font-size: 20px;
  }
  .submit-button {
    font-size: 11px;
    padding: 15px 12px;
  }
  .get-app-list {
    margin: 30px 0 0 30px;
  }
  .get-app-h3 {
    letter-spacing: normal;
    font-size: 25px;
    margin-top: 25px;
  }
  .get-app-available {
    font-size: 25px;
    margin: 20px 0 20px 0;
    text-align: center;
  }
  .social-links {
    margin-top: 30px;
    float: none;
  }
  .social-div {
    text-align: center;
  }
  .footer-menu li, .branches-list li, .footer-menu li:first-child, .branches-list li:first-child {
    float: none;
    display: block;
    margin: 0 0 10px 0;
  }
  .footer-menu li a:hover {
    border-width: 0 !important;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .slider {
    height: auto;
    padding: 45px 0 50px 0;
  }
  .slider-h1 {
    font-size: 25px;
    margin-top: 80px;
  }
  .slider-description {
    font-size: 14px;
  }
  .iphone-black {
    top: 0;
    width: 250px;
  }
  .iphone-silver {
    top: 80px;
    width: 250px;
  }
  .download-button {
    display: block;
    text-align: center;
  }
  .available {
    margin-top: 20px;
  }
  .images-key-feat {
    display: none;
  }
  .screen {
    width: 195px;
  }
  .hotels-e {
    margin-top: 40px;
    float: left;
  }
  .easy-flight {
    margin-top: 40px;
  }
  .key-features {
    height: auto;
  }
  .app-updates {
    padding: 0;
  }
  .footer-menu li a:hover {
    border-width: 0;
  }
}
/*# sourceMappingURL=main.css.map */