/*------------------------------------------------------------------
[Master Stylesheet]

Project:    tajawal-task
Version:    1.0
Last change:    3-3-2018
Assigned to:    Hussien Abd almohsen
Primary use:    Landing Page 

1. Body
2. slider
3. features
4. book-flights
5. how-use
6. key-features
7. Download tajawal app
8. app-updates
9. newslatter
10. get app
11. footer
12. responsive
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@font-face {
    font-family: "boutrosart-medium";
    src: url("../fonts/boutrosart-medium.eot");
    src: url("../fonts/boutrosart-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/boutrosart-medium.woff") format("woff"), url("../fonts/boutrosart-medium.ttf") format("truetype"), url("../fonts/boutrosart-medium.svg#boutrosart-medium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
/* variables */
$main_font:'Open Sans';
$second_font:'Montserrat';
$white_color:#fff;
$main_color:#294272;
$second_color:#ffd16a;
$black_color:#333333;
$menu_color:#394c70;
$button_text_color:#003366;
$button_text_hover_color:#ffd57c;
$baby_blue_color:#71c8f0;
$newslatter_color:#465b83;
$newslatter_color_desc:#233d5e;
$get_free_color:#1a2a3d;
@mixin box_shadow(){
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
}
@mixin border-radius(){
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}
@mixin text-shadow(){
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

body{
    font-family: $main_font;
    padding: 0;    
    margin: 0;
}
a, a:focus, a:hover{
    text-decoration: none;
    outline: 0;
    outline-style: none;
}
input{
    outline: 0;
    outline-style: none;
}
.text-center{
    text-align: center;
}
.center-items{
    display: inline-flex;
    align-items: center;
}
.col-center {
    float: none;
    margin: 0 auto;
}
.close{
    float: right;
    width: 20px;
    height: 20px;
    background: #003366;
    color: $white_color;
    text-align: center;
    border: 0;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50%;
}
.over-hide{
    overflow: hidden;
}
.modal-title{
    font: 22px $main_font;
    text-transform: uppercase;
    color: $main_color;
}
.logo {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.top-navbar{
    position: relative;
    min-height: 71px;
    padding: 10px 0;
}
.top-navmenu{
    list-style: none;
    display: inline-block;
    padding: 0;
    li{
        display: inline-block;
        margin-left: 45px;
        &:hover, &:focus{
            font-weight: 700;
        }
        a{
            font: 16px $main_font;
            color: $menu_color;
        }
    }
}
.top-navmenu-left{
    padding-left:15px;
    li{
        a{
            font: 15px $main_font;
        }
    }
}
.dropdown-menu{
    li{
        margin: 0;
        display: block;
    }
}
.arabic{
    font: 15px 'boutrosart-medium' !important;

}

// slider

.slider{
     background: url("../images/hero-img.png") no-repeat;
     background-size: cover;
     padding-top: 156px;
     position: relative;
    height: 851px;
}
.iphone-black {
    top: -10px;
    position: relative;
}
.iphone-silver{
    position: absolute;
    left: 78px;
    top:100px;
}
.slider-h1{
    font: 50px $main_font;
    color: $white_color;
    margin-bottom: 0;
}
.slider-description{
    font: 16px $main_font;
    color: $white_color;
}
.download-button {
    border-radius: 4px;
    background-color: #ffd16a;
    padding: 10px 75px;
    font: 700 21px $main_font;
    color: $button_text_color;
    margin-top: 37px;
    display: inline-block;
    @include border-radius();
    &:hover{
        background-color: $button_text_hover_color;
    }
  }

  .available{
      margin-top: 100px;
      span{
          color: $white_color;
          font: 16px $main_font;
          float: left;
          margin: 7px 10px 0 0;
      }
  }
  .android-icon{
      background: url("../images/android.png") no-repeat;
      width: 35px;
      height: 34px;
      display: inline-block;
  }
  .iphone-icon{
    background: url("../images/ios.png") no-repeat;
    width: 35px;
    height: 34px;
    display: inline-block;
  }

//   features

.features{
    padding: 92px 0 80px 0;
}
.wallet-icon{
    width: 59px;
    height: 58px;
    display: inline-block;
    background: url("../images/wallet.png") no-repeat;
}
.steps-icon{
    width: 59px;
    height: 58px;
    display: inline-block;
    background: url("../images/steps.png") no-repeat;
}
.offers-icon{
    width: 59px;
    height: 58px;
    display: inline-block;
    background: url("../images/offers.png") no-repeat;
}
.feature-h3{
    font: 700 18px $main_font;
    color: $main_color;
    margin: 0;
}
.feature-description{
    font: 16px $main_font;
    color: $black_color;
    line-height: 1.8;
    margin-top: 10px;
}
.offer-5{
    padding: 48px 0 61px 0;
    background-image: linear-gradient(356deg, rgba(149, 192, 237, 0), #92bcea);
}
.offer-h3{
    font: 36px $main_font;
    color: $white_color;
    @include text-shadow();
    margin: 0;
}
.offer-h2{
    font: 700 110px $main_font;
    color: $white_color;
    @include text-shadow();
    margin: 0;
    span{
        color: $second_color;
    }
}
.offer-description{
    font:32px $main_font;
    color: $white_color;
    @include text-shadow();
    margin: 0;
}

// book-flights
.book-flights{
    padding: 110px 0;
}
.book-flight-h3{
    font: 50px $main_font;
    color: $main_color;
    margin: 0;
}
.book-flight-description{
    font: 16px $main_font;
    color: $black_color;
    line-height: 1.8;
    margin-top: 10px;
}
.screen-one{
    height: 432px !important;
}
.screen {
    width: 243px;
    height: 400px;
    background-color: #333333;
    background-color: $black_color;
    border: solid 2px #ffffff;
    border: solid 2px $white_color;
    @include box_shadow();
  }
.flights-iphone{
    position: relative;
    float: right;
}
.screen1{
    position: absolute;
    top: 73px;
    right: 180px;
}
.flights-iphone-black{
    position: relative;
    margin: 0 auto;
}
.screen2{
    position: absolute;
    top: 90px;
    right: 35px;
}
.screen3{
    position: absolute;
    top: 90px;
    left: 35px;
}
.holiday-iphone-silver{
    position: relative;
    float: right;
}
.holiday-iphone-black{
    position: absolute;
    top: 73px;
    right: 115px;
}

.safe-easy{
    margin-top: 120px;
    padding: 65px 60px;
     @include box_shadow();
}
.safety-icon{
    background: url("../images/safety.png") no-repeat;
    width: 105px;
    height: 104px;
    float: left;
    margin-top: 10px;
}
.safe-h3{
    font: 36px $main_font;
    color: $main_color;
    display: inline-block;
    width: 28%;
    padding: 0 20px;
    margin: 0;
}
.safe-descreiotion{
    padding: 10px;
    border-left: 1px solid #979797;
    display: inline-block;
    width: 55%;
    p{
        font: 16px $main_font;
        line-height: 1.8;
        color: $black_color;
        padding-left: 30px;
    }
}
// how-use

.how-use{
    background: url("../images/module-bg.png") no-repeat;
    background-size: cover;
    padding: 70px 0 97px 0;
}
.how-h3{
    font: 50px $main_font;
    color: $white_color;
    margin: 0;
}
.how-description{
    font: 21px $main_font;
    color: $white_color;
    margin-top: 15px;
    line-height: 1.7;
}
.play-video{
    width: 108px;
    height: 108px;
    display: inline-block;
    border:2px solid $white_color;
    border-radius: 50%;
    
}
.icon-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #ffffff;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 32px 0 0 10px;
}
// key-features
.key-features{
    padding: 81px 0 0 0;
    height: 1155px;
}
.key-app-h3{
    font: 50px $main_font;
    color: $baby_blue_color;
    letter-spacing: -0.7px;
    margin-bottom: 119px;
}
.easy-flight{
    position: relative;
    border-bottom: 2px solid #979797;
    padding: 0;
}
.easy-h3{
    font: 700 18px $main_font;
    color: $main_color;
    margin: 0;
    &:before{
        width: 80px;
        height: 10px;
        background: #ffcc33;
        content: " ";
        position: absolute;
        left: 0;
        top: -17px;
    }
    
}
.hotels-e{
    width: 50%;
}
.easy-description{
    margin: 0;
    font: 15px $main_font;
    color: $black_color;
    line-height: 1.88;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
}
.images-key-feat{
    position: relative;
    height: 300px;
}
.change-screen-1 {
    position: absolute;
    left: 18%;
    top: -60px;
    z-index: 1;
}
.change-screen-2 {
    position: absolute;
    left: 29%;
    top: -60px;
    z-index: -1;
    &:after {
        width: 2px;
        content: " ";
        background: #979797;
        height: 300px;
        position: absolute;
        right: 48.6%;
        bottom: 0;
        z-index: -3;
        top: 49%;
    }
}
.change-screen-3 {
    position: absolute;
    left: 45%;
    top: -60px;
    z-index: -2;
    &:after {
        width: 2px;
        content: " ";
        background: #979797;
        height: 615px;
        position: absolute;
        left: 50%;
        bottom: -215px;
        z-index: -4;
    }
}
.no-border{
    border-width: 0 !important;
}

// Download tajawal app

.download-app{
    padding: 70px 0 95px 0;
    background: $baby_blue_color;
}
.download-h3{
    font: 48px $main_font;
    color: $white_color;
    margin: 0;
}
.download-desc{
    font: 21px $main_font;
    color: $white_color;
    text-transform: uppercase;
}
.app-store{
    margin-top: 74px;
    display: inline-block;
}
.play-store{
    margin: 74px 0 0 23px;
    display: inline-block;
}

// app-updates

.app-updates{
    padding: 53px 0 56px 0 ;
    position: relative;
}
.app-update-h3{
    font: 50px $main_font;
    color: $main_color;
    margin: 0;
}
.app-update-desc{
    font: 21px $main_font;
    color: $black_color;
    margin: 0;
}
.app-update-img{
    position: absolute;
    left: 0;
    height: 409px;
    top: 230px;
    padding: 0;
    z-index: 1;
}

// newslatter
.newslatter{
    margin-top: 90px;
    padding: 20px 0 37px 0;
    border-top: solid 1px #ccc;    
}
.newslatter-h3{
    font: 700 30px $second_font;
    color: $newslatter_color;
    margin: 0;
}
.newslatter_description{
    font: 20px $second_font;
    color: $newslatter_color_desc;
}
.mail-form{
    margin-top: 50px;
}
.email-input{
    border: solid 1px #e7e7e7;
    @include border-radius();
    padding: 12px 15px;
    &:focus{
        border-color:$second_color;
    }
}
.submit-button{
    background-image: linear-gradient(to bottom, #f8d588, #f3b129);
    background-image:  -webkit-linear-gradient(to bottom, #f8d588, #f3b129);
    background-image:  -moz-linear-gradient(to bottom, #f8d588, #f3b129);
    @include border-radius();
    border: 0;
    padding: 12px 15px;
    margin-left: 10px;
    font: 600 15px $main_font;
    color: $newslatter_color;
}

// get app

.get-app{
    background: $get_free_color;
    padding: 50px 0;
    border-bottom: 4px solid #61b8fa;
}
.get-app-h3{
    font: 600 30px $second_font;
    color: $white_color;
    letter-spacing: 7.5px;
    line-height: 33px;
    margin: 0;
}
.get-app-list{
    list-style-image: url("../images/checkmark-summer-sky.png");
    margin: 0;
    padding: 0;
    li{
        font: 20px $second_font;
        color: $white_color;
        margin-bottom: 30px;
        &:last-child{
            margin: 0;
        }
    }
}
.get-app-available{
    font: 600 30px $second_font;
    color: #fffefe;
    margin: 0 0 20px 0;
}
.get-app-store {
    display: inline-block;
    width: 160px;
    height: 45px;
}
.play-s{
    margin-left: 20px;
}

// footer

.footer{
    padding: 20px 0 0 0;
}
.call-span{
    font: 25px $second_font;
    color: #002957;
    letter-spacing: -0.5px;
    padding-left: 8px;
}
.tel{
    font-weight: bold;
    padding: 0;
    &:hover{
        color: $main_color;
    }
}
.social-links{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    li{
        display: inline-block;
    }
}
.linkedin{
    width: 32px;
    height: 35px;
    display: inline-block;
    background: url("../images/social.png") no-repeat;
}
.facebook{
    width: 32px;
    height: 35px;
    display: inline-block;
    background: url("../images/social.png") no-repeat -37px 0 ;
}
.twitter{
    width: 32px;
    height: 35px;
    display: inline-block;
    background: url("../images/social.png") no-repeat -74px 0 ;
}
.youtube{
    width: 32px;
    height: 35px;
    display: inline-block;
    background: url("../images/social.png") no-repeat -114px 0 ;
}
.footer-menu{
    list-style: none;
    margin: 70px 0;
    padding: 0;
    li{
        float: left;
        margin-left: 60px;
        &:first-child{
            margin: 0;
        }
        a{
            font: 600 18px $second_font;
            color: #002957;
            padding: 10px;
            letter-spacing: -1px;
            transition: 0.3s ease-in-out 0.3s;
            &:hover{
                border-top: 2px solid #3023ae;
                border-bottom:2px solid #c86dd7;
                border-right: 2px solid #7b48c2;
                border-left: 2px solid #7b48c2;
                border-radius: 30px;
            }
        }
    }
}
.branches-list{
    list-style: none;
    margin: 25px 0;
    padding: 0;
    li{
        display: inline-block;
        margin-left: 25px;
        &:first-child{
            margin: 0;
        }
        a{
            font: 14px $main_font;
            color: #002957;
            &:hover{
                font-weight: 600;
            }
        }
    }
}

// responsive

@media (min-width: 320px) and (max-width: 800px){
    .top-navmenu li, .top-navmenu{
        display: block;
    }
    .top-navmenu li{
        margin-bottom: 10px;
    }
    .top-navmenu-left{
        padding: 0;
    }
    .logo {
        float: none;
        img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        }   
    }
    .navbar-toggle{
        background: #c3c0c0;
    }
    .icon-bar{
        background: $main_color;
    }
    .slider{
        height: auto;
        padding: 45px 0 50px 0;
    }
    .slider-h1{
        font-size: 25px;
        margin-top: 80px;
    }
    .slider-description{
        font-size: 14px;
    }
    .iphone-black{
        top: 0;
        width: 250px;
    }
    .iphone-silver{
        top:80px;
        width: 250px;
    }
    .download-button{
        display: block;
        text-align: center;
    }
    .available {
        margin-top: 20px;
    }
    .features{
        text-align: center;
    }
    .offer-h3{
        font-size: 27px;
    }
    .offer-h2{
        font-size: 60px;
    }
    .safe-h3{
        width: 65%;
        font-size: 30px;
    }
    .safe-descreiotion{
        border: 0;
        width: 100%;
    }
    .how-h3, .key-app-h3{
        font-size: 40px;
    }
    .key-features{
        height: auto;
        text-align: center;
    }
    .key-app-h3{
        margin: 0 0 60px 0;
    }
    .easy-flight{
        float: none !important;
        margin-top: 40px;
    }
    .easy-h3{
        font-size: 16px;
    }
    .easy-h3:before {
        left: 50%;
        right: 0;
        margin-left: -40px;
    }
    .hotels-e{
        width: 100%;
    }
    .book-flight-h3{
        font-size: 30px;
    }
    .holiday-iphone-black {
        top: 18px;
        right: 34px;
        width: 70%;
    }
    .no-border{
        border-width: 2px !important;
    }
    .download-h3{
        font-size: 35px;
    }
    .play-store{
        margin: 30px 0 0 0;
    }
    .app-update-img{
        position: relative;
        height: auto;
        top: 0;
    }
    .safe-easy{
        margin: 0;
        padding: 30px;
    }
    .app-update-h3{
        font-size: 40px;
    }
    .app-updates{
        padding-bottom: 0;
    }
    .newslatter-h3{
        font-size: 20px;
    }
    .submit-button{
        font-size: 11px;
        padding: 15px 12px;
    }
    .get-app-list{
        margin: 30px 0 0 30px;
    }
    .get-app-h3{
        letter-spacing: normal;
        font-size: 25px;
        margin-top: 25px;
    }
    .get-app-available {
        font-size: 25px;
        margin: 20px 0 20px 0;
        text-align: center;
    }
    .social-links{
        margin-top: 30px;
        float: none;
    }
    .social-div{
        text-align: center;
    }
    .footer-menu li, .branches-list li, .footer-menu li:first-child, .branches-list li:first-child{
        float: none;
        display: block;
        margin: 0 0 10px 0;
    }

    .footer-menu li a:hover{
        border-width: 0 !important;
    }
}

@media (min-width: 800px) and (max-width: 1200px){
    .slider{
        height: auto;
        padding: 45px 0 50px 0;
    }
    .slider-h1{
        font-size: 25px;
        margin-top: 80px;
    }
    .slider-description{
        font-size: 14px;
    }
    .iphone-black{
        top: 0;
        width: 250px;
    }
    .iphone-silver{
        top:80px;
        width: 250px;
    }
    .download-button{
        display: block;
        text-align: center;
    }
    .available {
        margin-top: 20px;
    }
    .images-key-feat{
        display: none;
    }
    .screen{
        width: 195px;
    }
    .hotels-e {
        margin-top: 40px;
        float: left;
    }
    .easy-flight{
        margin-top: 40px;
    }
    .key-features{
        height: auto;
    }
    .app-updates{
        padding: 0;
    }
    .footer-menu li a:hover{
        border-width: 0;
    }
}